.masterclasses
{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.masterclasses .eachvideo
{
    width: 30%;
    margin: 1.5%;
}
.masterclasses .eachvideo iframe
{
    width: 100%;
    height: 240px;
    border-radius: 10px;
}